
.btn_sort {
  background-image: radial-gradient(100% 100% at 100% 0, #17a3ad 0, #7fd0d6 100%); /* Color de fondo */
  border: 0; /* Elimina el borde */
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset; /* Borde sombreado */
  color: #fff;
  cursor: pointer; /* Puntero de la mano */
  font-family: "aAlloyInk",monospace;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .30s,transform .30s; /* hace que suba más despacito */
  font-size: 18px;
  margin-left: 20px; 
}

/* transformacion cuando se pone el mouse arriba */
.btn_sort:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #17a3ad 0 -3px 0 inset;
  transform: translateY(-2px);
}

/* estilo cuando se presiona */
.btn_sort:active {
  box-shadow: #17a3ad 0 3px 7px inset;
  transform: translateY(2px);
}
