@font-face {
    font-family: 'aAlloyInk';
    src: url('./others/aAlloyInk.ttf') format('truetype');
}

.filter_box {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
}

.filter_label {
    padding-top: 10px;
    font-family: 'aAlloyInk';
    background-color: #2ac3ce;
    font-size: large;
    border-radius: 5px;
    border: solid white 1px;
    width: 90px;
    height: 45px;
    color: black;
    margin: auto;
    text-align: center;
}

.each_filter {
    color: #2ac3ce;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-top: 10px;
}

  