@font-face {
  font-family: 'aAlloyInk';
  src: url('./others/aAlloyInk.ttf') format('truetype');
}

.form {
  background-color: #17a3ad;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  min-width: 319px;
  margin-top: 40px;
  border-color: white;
  border: 33px;
}
  
.title_form {
  color: #eee;
  font-size: 40px;
  font-family: 'aAlloyInk';
  margin: 0px;
}

.input_half {
  width: 50%;
  float: left;
}
  
.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  outline: 0;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px;
}

.input::placeholder {
  border-color: red;
}

.submit {
  background-color: rgb(67, 67, 67);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #17a3ad;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
  
.submit:active {
  background-color: #06b;
}
  
.textarea {
  border-radius: 10px;
  width: 100%;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.warningP {
  margin: 0px;
  color: white;
  background-color: red;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}


/* -------------Temperaments----------- */

.div_temp {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.temperamentBtn {
  background-image: radial-gradient(100% 100% at 100% 0, #17a3ad 0, #7fd0d6 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: "aAlloyInk",monospace;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
  margin-left: 2px;
  max-width: 185px; 
  align-items: center;
}
  
.temperamentBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #17a3ad 0 -3px 0 inset;
  transform: translateY(-2px);
}
  
.temperamentBtn:active {
  box-shadow: #17a3ad 0 3px 7px inset;
  transform: translateY(2px);
}

.pTemp {
  font-family: aAlloyInk;
  margin-left: 10px;
  font-size: 20px;
}

.selectForm {
  margin-top: 5px;
}


/* --------------------- */

.img_dog {
  height: 450px;
  width: 590;
  margin-top: 60px;
  margin-left: 40px;
  box-shadow: 0 0 10px rgb(19, 135, 131);
  border-radius: 20px;
}

.allForm {
  display: flex;
  flex-direction: row;
  background-color: skyblue;
  height: 100vh;
}

.updateAlert {
  position: absolute;
  background-color: rgb(7, 227, 7);
  top: 200px;
  left: 260px;
  font-size: 70px;
  border-radius: 20px;
  border: solid 4px black;
}