/* fondo */
.totalHome {
    background-color: skyblue;
    min-height: 900px;
}

@font-face {
    font-family: 'aAlloyInk';
    src: url('./others/aAlloyInk.ttf') format('truetype');
}

/* titulo */
h1 {
	font-weight: normal;
    font-family: aAlloyInk, sans-serif;
    font-size: 7vw;
	width: 50%;
	text-align: center;
	margin: auto;
    padding-top: 6px;
    border-radius: 10px;
    border: 1px solid #000; 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	background: linear-gradient(
		-45deg, 
		#4bc0c8 25%, 
		#5e6b6e 25%, 
		#283235 50%, 
		#75c5cb 50%, 
		#17a3ad 75%, 
		#607178 75%, 
		#1f272a);
    transform: translateY(-30px);
}

/* fondo */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cartel de alerta cuando no se encuentran razas */
.p_notFound {
    background-color: red;
    position: absolute;
    top: 550px;
    left: 350px;
    z-index: 1; /* Profundidad para que aparezca arriba de las cards */
    font-size: 50px;
    border-radius: 10px;
    border: solid white 3px;
    color: white;
}

/* Pone cards y filters uno al lado del otro */
.card_filters {
    display: flex;
    flex-direction: row;
    position: relative;
}



