.totalHome {
    background-color: skyblue;
    min-height: 800px;
}

@font-face {
    font-family: 'aAlloyInk';
    src: url('./others/aAlloyInk.ttf') format('truetype');
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-weight: normal;
    font-family: aAlloyInk;
    font-size: 7vw;
	width: 50%;
    max-height: 300px;
	text-align: center;
	margin: auto;
    padding-top: 6px;
    border-radius: 10px;
    border: 1px solid #000; 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	background: linear-gradient(
		-45deg, 
		#4bc0c8 25%, 
		#5e6b6e 25%, 
		#283235 50%, 
		#75c5cb 50%, 
		#17a3ad 75%, 
		#607178 75%, 
		#1f272a);	
	background-position: 0 0;
	animation: stripes 1s linear infinite;
    transform: translateY(-30px);
}	
.racesBlock {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin-top: 15px;
}

.racesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: 2px;
}

.raceContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.raceImg {
    margin: 10px;
    max-width: 100px;
    max-height: 100px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp {
    width: 100px;
    word-wrap: break-word;
}

.p_notFound {
    background-color: red;
    position: absolute;
    top: 550px;
    left: 350px;
    z-index: 1;
    font-size: 50px;
    border-radius: 10px;
    border: solid white 3px;
    color: white;
}

/* ---------------SEARCHS--------------- */

.span_father {
    position: relative;
}
.basic_slide {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377d6a;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px;
    transition: all 0.3s ease-in-out;
    margin-left: 50px;
}
.basic_slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}
.basic_slide + label {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 55px;
    height: 10px;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    background: #2ac3ce;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: aAlloyInk;
}
.basic_slide:focus, .basic_slide:active {
    color: #377d6a;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.basic_slide:focus::-webkit-input-placeholder, .basic_slide:active::-webkit-input-placeholder {
    color: #aaa;
}
.basic_slide:focus + label, .basic_slide:active + label {
    transform: translateY(-100%);
}

/* -----------BUTTONS------------- */

.btn_sort {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #17a3ad 0, #7fd0d6 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "aAlloyInk",monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none; 
     -webkit-user-select: none; 
     touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-left: 10px; 
  }
  
  .btn_sort:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .btn_sort:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #17a3ad 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn_sort:active {
    box-shadow: #17a3ad 0 3px 7px inset;
    transform: translateY(2px);
  }






