.allLanding {
  background-image: url('./others/fondo\ huellas\ de\ perro.webp');
  background-size: cover;
  height: 100vh;
}

.titleLanding {
  align-items: center;
  justify-content: center;
  font-family: aAlloyInk, sans-serif;
  font-size: 7vw;
  max-height: 150px;
  padding-top: 6px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  background: linear-gradient(
    -45deg, 
    #4bc0c8 25%, 
    #5e6b6e 25%, 
    #283235 50%, 
    #75c5cb 50%, 
    #17a3ad 75%, 
    #607178 75%, 
    #1f272a);
}

.welcomeBtn {
  background-image: radial-gradient(100% 100% at 100% 0, #17a3ad 0, #7fd0d6 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: "aAlloyInk",monospace;
  height: 100px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s,transform .15s;
  font-size: 50px;
  margin-left: 500px; 
  margin-top: 10px;
  align-items: center;
}
  
.welcomeBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #17a3ad 0 -3px 0 inset;
  transform: translateY(-2px);
}
  
.welcomeBtn:active {
  box-shadow: #17a3ad 0 3px 7px inset;
  transform: translateY(2px);
}

.underline_off {
  text-decoration: none;
}

.name {
  font-family: aAlloyInk;
  font-size: 50px;
  margin-left: 350px;
}
