.span_father {
    position: relative;
}

.basic_slide {  
    width: 215px;
    padding: 10px 0 10px 15px;  /* Establece un padding del area blanca */
    font-family: "Open Sans", sans; /* Fuente */
    font-weight: 400;
    color: #377d6a;
    background: #efefef;
    border: 0; /* Elimina el borde */
    border-radius: 3px;
    outline: 0; /* Elimina el borde cuando se selecciona */
    margin-left: 50px;
}
  
/* Hace que cuando no esta seleccionado, no se vea el placeholder */
.basic_slide::-webkit-input-placeholder {
    color: #efefef;
}

/* La etiqueta verde de arriba */
label {
    position: absolute; /* Posicion en relacion al span_father */
    top: -2px;  
    left: 55px;
    height: 10px;
    padding: 10px 15px;
    background: #2ac3ce;
    transition: all 0.3s ease-in-out; /* Hace que suba despacio */
    border-radius: 3px;
    font-family: aAlloyInk;
}

/* Muestra el placeholder cuando se selecciona */
.basic_slide:focus::-webkit-input-placeholder {
    color: #aaa;
}

/* Levanta la etiqueta cuando se selecciona */
.basic_slide:focus + label {
    transform: translateY(-100%);
}